h1 {
  width: 100%;
  text-align: center;
}


mat-card {
  margin: 5px;
  width: 380px;
  height: 250px;
  box-shadow: 1px 3px 10px 1px #7c7b7ba6 !important;
}

.col-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}


mat-form-field {
  margin-right: 5px;
  width: 100%;
}
