h1 {
  width: 100%;
  text-align: center;
}

mat-toolbar {
  width: 100%;
  transition-duration: 2s;
  background: #1976d2;
  color: white;
}

.showScreen {
  height: 100%;
  transition-duration: 2s;
}

#logo {
  text-align: left;
  width: 40px;
   border-radius: 100%;
   margin-top: -5px;
 /* box-shadow: 2px 2px 3px 0px rgb(43, 43, 43); */
  position: absolute;
}

.col {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.col-5 {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  height: 70%;
  transition-duration: 1s;
}


.iconSocial {
  height: 50px;
  margin: 5px 5px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 1s;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #cac0c052;
}

.iconSocial:hover,
.iconSocial:focus,
.iconSocialMove {
  height: 60px;
  transition-duration: 1s;
  border-radius: 100%;
  box-shadow: 6px 3px 20px 0.1px grey;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 70%;
  }
  .col-5 {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    height: 30%;
    transition-duration: 1s;
  }

}
