h1{
  width: 100%;
  text-align: center;
}

mat-toolbar:hover{
  height: 100%;
  transition-delay: 1s;
  transition-duration: 1s;
}

mat-toolbar{
  transition-delay: 1s;
  transition-duration: 1s;
}



